.roku-jumbotron {
    color: #333;
    margin: 50px auto !important;
    width: 100%;
}
.roku-jumbotron h1 .span{
    color: $roku-purple;
    font-size: 1.2em;
}
.roku-jumbotron h1 .span1{
    font-size: $p-size-basic;
    color: $roku-purple;
}
.roku-jumbotron h1 .titleright{
    float: right;
}
.lead {
    margin-top: 10px;
    line-height: 20px;
}
.name, .pass{
    font-weight: bold;
    font-size: $p-size;
}
.button{
    margin: 0 auto;
}