// 768 is tablet @ portait

@media screen and (min-width: 768px) {
    .roku-jumbotron h1 .titleright{
        float: none;
    }
    .user-message {
        font-size: 2.5rem;
    }
    .adminHeader{
        ul li{
            margin-right: 1px;
        }
        ul li a{
            font-size: 0.6em;
        }
    }
    .category{

        ul li:first-child{
            float: left;
        }
        ul li:last-child{
            float: right;
            width: 50%;
            position: relative;
            bottom: 10px;
        }
        .carousel{
            clear: both;
        }
    }
    #mainContainer{
        .left{
            width: 40%;
            float: left;
        }
        .right .clearfloat{
            clear: left;
        }
        .video video{
            margin-top: 20px;
        }
        .bottom-movie{
            clear: both;
        }
        .moblieonly{
            display: none;
        }
    }
    #mainContainer1{
        h2{
            margin-left: 20px;
        }
        .left{
            width: 40%;
            float: left;
        }
        .right .clearfloat{
            clear: left;
        }
        .video video{
            margin-top: 20px;
        }
        .bottom-movie{
            display: block;
            clear: both;
            width: 95%;
            margin: 0 auto;
            a{
                margin-top: 20px;
            }
            .left{
                width: 67%;
                float: left;
            }
            .right{
                width: 30%;
                float: right;
                img{
                    width: 80%;
                }
            }
            .tabletonly{
                display: block;
            }
        }
        .moblieonly{
            display: none;
        }
    }
    #TVContent{
        width: 100%;
        h2{
            .span1{
                font-size: 1.5em;
            }
            .span2{
                font-size: $p-size;
            }
        }
        ul{
            li:first-child{
                margin-left: 0;
            }
            li{
                margin-right: 20px;
            }
            .li3{
                margin-left: 0;
            }
        }
        .nextTv{
            .lastTV{
                position: relative;
                bottom: 145px;
            }
            .left .tblonly{
                display: block;
                margin-top: 30px;
            }
        }
        .tvshow{
            position: relative;
            bottom: 160px;
        }

    }
    .media-title {
        font-size: 1.25em;
    }

    .media-type {
        li{
            display: inline-block;
        }
    }
    .media-year { float: none; }

    .media-container:first-of-type { padding-bottom: 0; }

    .media-thumb { height: 165px; }

    footer ul { max-width: none; }
}

@media (min-width: 992px) {
    .display-4 {
        font-size: 3.5rem;
    }
    .roku-jumbotron {
        color: #333;
        margin: 0 auto !important;
        width: 500px;
    }
    .roku-jumbotron h1 .span{
        color: purple;
        font-size: 1.2em;
    }
    .roku-jumbotron h1 .span1{
        font-size: $p-size-basic;
        color: purple;
    }
    .roku-jumbotron h1 .titleright{
        float: right;
    }
    .lead {
        margin-top: 20px;
        text-indent: 30px;
        line-height: 30px;
    }
    .adminHeader{
        ul li{
            margin-right: 20px;
        }
    }
    .category{
        ul{
            width: 50%;
            float: right;
        }
        ul li{
            margin-right: 80px;
        }
        ul li:last-child{
            position: relative;
            bottom: 40px;
        }

    }

    #mainContainer{
        margin-top: 20px;
        .left{
            width: 25%;
            font-size: $p-size-pc;
            float: left;
            margin-left: 40px;
        }
        .left ul{
            list-style-type: none;
            margin-left: 10px;
            margin-top: 10px;
        }
        .left ul li a{
            color: $main-color;
            font-size: $p-size;
        }
        .left ul li:first-child a{
            color: $roku-purple;
            font-size: 1.6em;
        }
        .left ul .aboutroku a{
            color: red;
            font-size: 1.6em;
        }
        .videopconly{
            display: block;
            float: left;
            width: 850px;
        }
        .videopconly .video{    
            margin-left: 40px;
        }
        .right{
            width: 70%;
            float: left;
        }
        .right p{
            color: $main-color;
            font-size: $p-size-pc;
        }
        .right a img:hover{
            transform: scale(1.05);
        }
        .right a p:hover{
            color: $roku-purple;
        }
    
        .bottom-movie{
            clear: both;
            width: 95%;
            margin: 0 auto;
            a{
                margin-top: 20px;
            }
        }
        .video{
            display: none;
        }
    }
    #mainContainer1{
        margin-top: 20px;
        h2{
            margin-left: 50px;
        }
        .left{
            width: 25%;
            float: left;
            margin-left: 40px;
            img{
                width: 80%;
            }
        }
        .videopconly{
            display: block;
            float: left;
            width: 850px;
        }
        .videopconly .video{    
            margin-left: 40px;
        }
        .right{
            width: 70%;
            float: left;
        }
        .right p{
            color: $main-color;
            font-size: $p-size-pc;
        }
        .right a img:hover{
            transform: scale(1.05);
        }
        .right a p:hover{
            color: $roku-purple;
        }
        .bottom-movie{
            display: block;
            clear: both;
            width: 95%;
            margin: 0 auto;
            a{
                margin-top: 20px;
            }
            .left{
                width: 77%;
                float: left;
            }
            .right{
                width: 20%;
                float: right;
                img{
                    width: 80%;
                }
            }
            .tabletonly{
                display: none;
            }
        }
        
        .video{
            display: none;
        }
    }
    #TVContent{
        width: 95%;
        margin: 0 auto;
        .nextTv{
            .lastTV{
                position: relative;
                bottom: 200px;
            }
            .left .tblonly{
                display: none;
            }
            .right{
                margin-top: 30px;
            }
        }
        .bottomtvshow{
            p{
                font-size: $p-size-pc;
            }
        }
    }

    #MusicContent{
        p{
            font-size: $p-size-pc;
        }
    }
    .name, .pass{
        font-weight: bold;
        font-size: 1.2em;
    }
    
    .username{
        font-size: 1.5em;
        margin: 10px 0;
    }
    .card label{
        font-size: 1.2em;
    }
    .thumb-wrapper { 
        max-height: 350px; 
        // overflow-x: auto; 
    }
    /* width */
    .thumb-wrapper::-webkit-scrollbar {
        width: 20px;
    }
    
    /* Track */
    .thumb-wrapper::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey; 
        border-radius: 10px;
    }
    
    /* Handle */
    .thumb-wrapper::-webkit-scrollbar-thumb {
        background: red; 
        border-radius: 10px;
    }
    
    .media-title {
        font-size: 1.75em;
    }

    .media-type { 
        list-style-type: none;
        margin-bottom: 0;
        
        li { 
            padding: 1rem;
            border-bottom: thin solid $dark-bg;
            cursor: pointer;
            display: block;
            width: auto;
            text-align: left;

            span:first-of-type { 
                padding-right: 1rem; 
                font-size: 2rem; 
                color: $main-color;
            }
    
            span:last-of-type { 
                display: inline-block !important;
                text-transform: uppercase;
                font-size: 1.2em;
                position: relative;
                top: -6px;
            }
        }
    
        li:hover span:first-of-type { color: $roku-purple }
    
        li:last-of-type { border-bottom: none; }
    }

    .fs-video { width: 100% }

.media-container { background: darken($dark-bg, 15%)}
.media-container:first-of-type { padding-bottom: $p-size-basic; }
.media-container:last-of-type { padding-left: 0; padding-right: 0; }

// top left media details
.media-title { 
    font-size: 1.5em; 
    padding-top: $p-size-basic;
    font-weight: bolder; 
}

.media-details { font-size: 1.2em; padding: 0.5em 0; }

.media-year, .media-time { font-size: $p-size-basic; }
.media-year { display: block; float: right; }

.side-nav { background: darken($dark-bg, 9%) }

// left hand pad list -> audio, film television
.media-type { 
    list-style-type: none;
    margin-bottom: 0;
    
    li { 
        padding: 1rem;
        cursor: pointer;
        display: inline-block;
        width: 33%;
        text-align: center;

        span:first-of-type {  
            font-size: 2rem; 
            color: $main-color;
        }
    }

    li:hover span:first-of-type { color: $roku-purple }
}

// genre filter links

.media-genres {
    list-style-type: none;
    background: darken($dark-bg, 10%);
    margin: 0;
    padding: $p-size-basic $p-size-basic $p-size-basic 1.5em;

    li { 
        display: inline-block;

        a {
            font-size: 1rem;
            color: $main-color;
            text-decoration: none;
        }
        
        a:hover { color: $roku-purple; }
    }

    li::after {
        content: "|";
        padding: 0 8px 0 13px;
        color: rgba(255,255,255,0.5);
    }

    li:last-of-type::after {
        content: none;
    }
}

// media thumbnails
.media-info {
    padding-left: 0;
    padding-right: 0;

    > div { padding: 0 10px; }
}

.media-thumb {
    height: 140px;
    margin: 0.7em;
}

.audio-thumb { height: 150px; }

.audio-wrapper {
    background: $dark-bg;

    img { max-width: 85%; display: block; margin: 0 auto; padding: 4% }

}

audio {
    width: 70%;
    margin: 0 13%;
    position: absolute;
    bottom: 12%;
    opacity: 0.8;
}
}